{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- About The Pizza Project -->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-black mb-4">Slice to meet you</h2>
                <p class="text-black-50">
                    Here at the Pizza Project, our aim is to bring together the best
                    locally sourced ingredients and freshly made pizza straight to you and
                    your community, via our bespoke pizza truck.<br />
                    Everything from our hand stretched pizza dough through to our sauce
                    and ingredients are prepared on the day, while the pizza's are
                    assembled and cooked on site, ensuring that we can deliver the
                    freshest slice around.
                </p>
                <p>
                    We are available for private hire, corporate functions and
                    charity/community events. For availability and what you
                    <em>KNEAD</em> to know, head over to our booking page.<br />
                    We believe in the power of local community and that charity starts at
                    home. So that is why we donate 5% of our booking fee to local
                    charities within the community. Or we will waive our booking fee if we
                    are used for charitable events.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-6 order-lg-first">
            <img class="img-fluid" src="{% static 'assets/img/pizza-van.webp' %}"
                alt="Image of The Pizza Project van" />
            </div>
        </div>
    </div>
</section>
<!-- /about the pizza project -->
<!-- Booking Form -->
<section>
    <div class="container mt-5">
        <h2 class="text-black mb-4">Book Here</h2>
        <!-- booking form submissions handled by formsubmit -->
        <form class="row g-3" action="https://formsubmit.co/805a405e5d9e8501c244d4a50437aab8" method="POST">
            <div class="col-md-2">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="col-md-5">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="col-md-5">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="LastName" required>
            </div>
            <div class="col-md-8">
                <label for="emailInfo" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="emailInfo" name="email" required>
            </div>
            <div class="col-md-4">
                <label for="phoneNumber" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group col-md-4">
                <label for="date" class="control-label">Date</label>
                <input type="text" class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" required>
            </div>
            <div class="form-group col-md-4">
                <label for="time" class="control-label">Time</label>
                <input type="text" class="form-control" id="time" name="time" placeholder="12:00" required>
            </div>
            <div class="form-group col-md-4">
                <label for="partySize" class="control-label">Party Size</label>
                <input type="text" class="form-control" id="partySize" placeholder="300" name="partySize" required>
            </div>
            <div class="col-md-12">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" rows="3" name="address" placeholder="e.g. 11 Abbots Way, Hanham, Bristol, BS15 3FX" required></textarea>
            </div>
            <div class="col-md-12">
                <label for="dietaryRequirements" class="form-label" name="dietaryRequirements">Dietary Requirements</label>
                <textarea class="form-control" id="dietaryRequirements" rows="3" placeholder="e.g. Gluten Free, if none leave blank."></textarea>
            </div>
            <div class="col-md-12">
                <label for="comments" class="form-label" name="requests">Requests</label>
                <textarea class="form-control" id="comments" rows="3" placeholder="Directions, Access Instructions etc."></textarea>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- /booking form -->

</section>
<!-- Customer Reviews -->
<section class="about-section text-center" id="about">
    <div>
        <h3 class="text-black mb-4">Our Latest Reviews</h3>
        <p>
            ★★★★★ "Wow! We recently had Pizza Project cater our charity
            fundraiser, and they exceeded all our expectations. The pizza was
            delicious, and their team was not only efficient but also incredibly
            friendly. It was a hit with our guests, and we'll definitely be
            inviting them back for our next event!" - Doug<br />
            ★★★★★ "A massive thank you to The Pizza Project for making our company
            picnic a memorable one. The pizzas were a big hit with our employees,
            and the fact that they can accommodate various dietary preferences was
            a lifesaver. Plus, their setup is top-notch, and their team is
            professional and friendly." - Mark F.<br />
            ★★★★★ "I can't express how grateful we are to The Pizza Project for
            their support at our charity event. They provided slices for 300
            attendees, and everything ran like clockwork. The guests raved about
            the pizzas, and it truly added a unique and delicious element to our
            event. We highly recommend them for any charitable cause!" - Val<br />
            ★★★★☆ "We booked the Pizza Project for a private garden party, and it
            was a hit with our friends and family. The pizzas were fresh and
            scrumptious, and their mobile setup was a fun and interactive addition
            to the gathering. The only downside was that they ran out of some of
            their pizza slices quite quickly, but it didn't spoil the overall
            experience." - Julie<br />
            ★★★★★ "We had The Pizza Project at our engagement party, and it was a
            brilliant choice. The variety of pizzas they offered catered to all
            our guests' tastes, and their team was accommodating and friendly.
            They helped create a relaxed and enjoyable atmosphere, and everyone
            couldn't stop raving about the pizza." - Barry M.<br />
            ★★★★☆ "We hired The Pizza Projcet for our son's graduation party, and
            the pizzas were a hit with the young crowd. The only reason I'm not
            giving a full five stars is that they could have been a bit more
            responsive during the booking process. However, on the day of the
            event, they delivered on all fronts and made it a memorable
            celebration." - Paul
        </p>
    </div>
</section>
<!-- /customer reviews -->

{% endblock %}